Library/
Temp/
UnityPackageManager/
Unity_Joueur/AndroidTest.apk
Unity_Joueur/Unity_Joueur.CSharp.csproj
Unity_Joueur/Unity_Joueur.CSharp.Editor.csproj
Unity_Joueur/Unity_Joueur.CSharp.Editor.Plugins.csproj
Unity_Joueur/Unity_Joueur.CSharp.Plugins.csproj
Unity_Joueur/.vs/
Unity_Joueur/Unity_Joueur.csproj
Unity_Joueur/Unity_Joueur.Editor.csproj
Unity_Joueur/Unity_Joueur.sln
Unity_Joueur/JoueurTest.exe
Unity_Joueur/MJTest.exe
Unity_Joueur/UnityPlayer.dll
Unity_Joueur/JoueurTest_Data/
Unity_Joueur/MJTest_Data/
Unity_Joueur/Assembly-CSharp-Editor.csproj
Unity_Joueur/Assembly-CSharp.csproj
Unity_Joueur/Unity_Joueur.userprefs

.vs/*